.barchat-container-highest{
    display:flex;
    flex-direction:column;
    
    background-color:#1e1e1e;
    padding-bottom:13px;
    width:600px;
    height:400px;
    padding:20px;
    margin-right:10px;
    
    
    
    border-radius:5px;
}
.mask-detection{
    color:#ffffff;
    font-size:20px;
}
.detection-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-container{
    background-color: #1e1e1e;
    color:#ffffff;
}