.notification-icon {
    font-size: 20px;
    margin-right: 15px;
    color: #b7b1b1;
  }
  .drawer {
    background-color: #1e1e1e;
    height: 100vh;
  }
  .notification-heading {
    font-size: 25px;
    font-family: "Qucksand-Light";
  }
  .title-container {
    display: flex;
    align-items: center;
  }
  .details-contaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }
  .capture-container {
    background-color: #1e1e1e;
    height: 60px;
    width: 60px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .camera-icon {
    color: #b7b1b1;
    font-size: 25px;
  }
  .drawer-feilds {
    background-color: rgb(49, 49, 51);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    margin-bottom: 20px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 5px;
    border-bottom: 1px solid #9e9e9e;
    width: 90%;
  }
  .names-list {
    color: #9e9e9e;
    font-size: 15px;
    font-family: "Roboto";
  
    background-color: #4d4d4d;
    border: none;
  }
  .field-label {
    color: #9e9e9e;
    font-size: 15px;
    font-family: "Roboto";
  }
  .email-field {
    background-color: #2e2e2e;
  
    margin-top: 40px;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 22px;
    font-family: "Roboto";
  }
  .cancel-btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    background-color: #353535;
    color: white;
    font-size: 15px;
    font-family: "Roboto";
    margin-right:20%;
  }
  .create-btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 40px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-family: "Roboto";
    border: none;
    padding: 15px;
  }
  .email-text {
    background-color: #2e2e2e;
    padding: 15px;
    color: #9e9e9e;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
  }
  .button-container {
    display: flex;
    
    
    
    padding: 20px;
    align-self: flex-end;
  }
  