@font-face {
  font-family: 'Quicksand-Bold';
  src: url('./Quicksand-Bold.eot');
  src: url('./Quicksand-Bold.eot') format('embedded-opentype'),
       url('./Quicksand-Bold.svg') format('svg'),
       url('./Quicksand-Bold.ttf') format('truetype'),
       url('./Quicksand-Bold.woff') format('woff'),
       url('./Quicksand-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

