.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #232323;
}

.glider-scan {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 35px;
}

.logo-img {
    height: 50px;
    width: 150px;
    margin-right: 5px;
}