.icons-column{
    display:flex;
    flex-direction:column;
    height:100vh;

    background-color:#121212;
    width:5%;
    border-right:1px solid #444242;

}
.menu-icon{
    height:30px;
    width:30px;
    background-color:transparent;
    color:#444242;
    margin-bottom:30px;
    margin-left:14px;
    margin-top:13px;
   

}