.roles-side-bar-container{
    background-color:#1e1e1e;
    height:100vh;
    padding:20px;
    width:10%;


}
.each-role-name{
   
    
    color:white;
    font-size:16px;
    font-weight:800;
    font-family: "Roboto";
    background-color:transparent;
    border-bottom:1px solid #121212;
    padding:10px;
    
    
}